table, tr, td,th{
    border: black 1px solid;
    border-collapse: collapse;
    text-align: center;
}

thead tr{
    background-color: rgb(255, 205, 255);
    font-weight: bold;
}

table tbody tr:hover{
    background-color: rgb(238, 227, 178);
}

tbody tr:nth-child(2n){
    background-color: rgb(213, 205, 255);
}

tbody tr:nth-child(2n+1){
    background-color: rgb(107, 188, 202);
}